<!DOCTYPE html>
<html>
    <head>
        <title>lol-checked - {% block title '' %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            {% block header '' %}
        </header>
        <div>
            {% block content '' %}
        </div>
        <footer>
            {% block footer %}
            JB Crestot - 2014
            {% endblock footer %}
        </footer>
    </body>
</html>
