{% extends 'base.html' %}

{% block title %}404 page introuvable{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<h1>Erreur 404</h1>
<p>Cette page n'existe pas, alors soit vous avez tapé n'importe quoi dans la barre d'url, soit j'ai codé un lien en revenant d'une soirée
    bien arrosée, soit vous avez explosé mon appli et alors là... Merci Beaucoup!</p>

<a href="/" title="retour à l'accueil doux et chaleureux" class="button tiny radius">Retour</a>

{% endblock content %}