{% extends 'base.html' %}

{% block title %}Accueil{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
    <h1>Bienvenue sur Lol-checker</h1>
    
    <form action="/" method="post">
        <input type="text" name="summonerName" id="summoner" placeholder="summoner's name" />
        
        <input type="submit" value="chercher" class="button tiny radius" />
    </form>
    <a href="/team/ladder" title="afficher le classement des équipes" class="button small radius">Classement d'équipe</a>
    
    {% if summonerName %}Vous rechercher la page du summoner : {{ summonerName }}{% endif %}
{% endblock content %}