{% extends 'base.html' %}

{% block title %}Accueil{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
    <h1>Bienvenue sur Lol-checker</h1>
    <form action="/" method="post">
        <input type="text" name="summonerName" id="summoner" placeholder="summoner's name" />
        
        <input type="submit" value="chercher" class="button radius" />
    </form>
    
    {% if summonerName %}Vous rechercher la page du summoner : {{ summonerName }}{% endif %}
{% endblock content %}