{% extends 'base.html' %}

{% block title %}Classement des équipes{% endblock title %}

{% block stylesheets %}
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block header %}
<div class="small-12 columns"><h1>Classement des équipes challenger</h1></div>
{% endblock header %}

{% block content %}
<!-- {# personnage http://ddragon.leagueoflegends.com/cdn/5.2.2/img/champion/Jinx.png #} -->
<div class="small-12 columns ladderTable">
    <!--head-->
    <div class="row first ladderRow">
        <div class="small-1 columns text-center rank">Rank</div>
        <div class="small-5 columns text-center summonerName">Name</div>
        <div class="small-2 columns text-center summonerInfo">League Points</div>
        <div class="small-4 columns text-center percentage">Win ratio</div>
    </div>
    <!--body-->
    {% for team in challengerLadder.entries %}
    <div class="row ladderRow" data-id="{{ team.playerOrTeamId }}">
        <div class="small-1 columns text-center rank">{{ loop.index }}</div>
        <div class="small-5 columns text-center summonerName">
            <a href="/summoner/userName=Fnatic+Hun1" target="_blank">
                {{ team.playerOrTeamName }}
            </a>
        </div>
        <div class="small-2 columns text-center summonerInfo">
            {{ team.leaguePoints}} LP
        </div>
        <div class="small-4 columns text-center summonerWinsLosses">
            <div class="progress-bar">
                <div class="text-center bg-blue pull-left"
                      style="width:{{ team.wins*100/(team.wins + team.losses)|round }}%"
                        >{{ team.wins }}W</div>
                <div class="text-center bg-red pull-left"
                      style="width:{{ team.losses*100/(team.wins + team.losses)|round }}%"
                        >{{ team.losses }}L</div>
            </div>
            {{ team.wins*100/(team.wins + team.losses) |round }}%
        </div>
    </div>
    {% endfor %}
    <div class="RankingTableMore">
        <button class="opButton primary" id="moreLadderRakingTable" data-start="50" data-target="#LadderRakingTable">See
            more
        </button>
    </div>
</div>
{% endblock content %}
{% block last_avascripts %}
<script type="text/javascript" src="/javascripts/team.js"></script>
{% endblock last_avascripts %}
