{% extends 'base.html' %}

{% block title %}Classement des équipes{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
    <h1>Classement des équipes</h1>
    
    <table>
        <thead>
            <tr>
                <th>Nom de l'équipe</th>
                <th>Nombre de points</th>
                <th>classement</th>
            </tr>
            <tr>
                <td>Sparta</td>
                <td>898</td>
                <td>1</td>
            </tr>
        </thead>
    </table>
{% endblock content %}