/*
    Created on : 5 oct. 2014, 21:01:35
    Author     : jbcrestot
*/
body {
    background-color: #f5f7f7;
}

.bordure {
    border: 1px solid black;
}

.ladderTable {
    font-size: 11px;
    font-family: Arial;
}

.ladderRow {
    border: 1px solid gray;
    border-bottom: none;
}

.ladderRow div {
    line-height: 3rem;
}

.ladderRow .icon {
    font-size: 1.1rem;
}

.lastRow {
    border-bottom: 1px solid gray;
}

.ladderRow.first {
    font-weight: bold;
}

.summonerName {
    font-weight: bold;
}

.bg-blue {
    background-color: #4ea1ed;
}

.bg-red {
    background-color: #f46c65;
}

/*                  *\
  bar de progression
\*                  */
.progress-bar div {
    display: inline-block;
    line-height: 1.5rem;
}

.progress-bar {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    line-height: 1.4rem;
}

.progress-bar .bg-blue {
    border: 1px solid #408dd4;
    border-right: none;
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
}

.progress-bar .bg-red {
    border: 1px solid #d2524c;
    border-left: none;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
}

/*                  *\
  bar de progression
\*                  */

