/*
    Created on : 5 oct. 2014, 21:01:35
    Author     : jbcrestot
*/
body {
    background-color: #f5f7f7;
}

.bordure {
    border: 1px solid black;
}

.ladderTable {
    font-size: 11px;
    font-family: Arial;
}

/*                  *\
  bar de progression
\*                  */
.progress-bar {
    display: inline-block;
    width: 100%;
    margin-right: 3rem;
    float: left;
}

.progress-bar .progress-bar-win {
    background-color: #4ea1ed;
    border: 1px solid #408dd4;
    border-right: none;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
}

.progress-bar .progress-bar-losses {
    background-color: #f46c65;
    border: 1px solid #d2524c;
    border-left: none;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
}

.ladderRow {
    border: 1px solid gray;
    border-bottom: none;
}

.lastRow {
    border-bottom: 1px solid gray;
}

.summonerName, .rank, .summonerInfo {
    /*line-height: 3;*/
}

.summonerName {
    font-weight: bold;
}
